@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

body {
    margin: 0;
    background-image: url(../assets/icone+wallpaper/WallpaperHome.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* mantém a imagem de fundo fixa quando rolamos a página */
}

/* Container principal - todo conteúdo que vai ser centralizado tem essa class - header, intro, main-content e footer */
.container {
    width: 960px;
    margin: 0 auto; /* 0 em baixo e em cima, auto na esquerda e direita */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-sizing: border-box; /* garante que padding não aumente a largura total */
}

/* Cabeçalho (header) */
.header {
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
}

.header .container {
    background-color: #4181ba;
    color: #ffffff;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px; /* cima e baixo + esquerda e direita */
    border-radius: 8px;
}

#logonav {
    height: 66px;
    position: absolute; /* define a posição de forma independente do fluxo normal */
    left: 20%; /* posição no meio da navbar */
    transform: translateX(-75%); /* posição horizoltal */
    top: 55px; /* posição vertical */
}

.navbar {
    list-style: none; /* sem marcadores */
    margin: 2px;
    padding: 0;
    display: flex;
    height: 20px;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none; /* sem sublinhar */
    color: #ffffff;
    font-weight: 500;
    padding: 8px 8px;
    border-radius: 8px;
}

.navbar a:hover, .navbar .agora a:hover {
    background-color: #5e6973;
}

/* introducao e content*/
.intro {
    margin-bottom: 10px;
    text-align: center;
    /* box-sizing: border-box; */
}

.intro .container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

.intro #titulo {
    font-size: 2em; /* conta - 2 x 16px = 32px */
    font-weight: bold;
    color: #1A4A74;
}

.intro .assunto, .content .assunto{
    font-size: 1.2em;
    font-weight: 600;
    color: #1A4A74;
    margin: 3px 5px 15px 5px;
}

.intro .contexto, .content .contexto {
    font-size: 1em;
    font-weight: 410;
    color: #000000;
}

.intro .caixa-contexto, .content .caixa-contexto {
    background-color: #93c6f3;
    border-radius: 5px;
    padding: 5px;
}

.content #letra-musica {
    background-color: #93c6f3;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    width: fit-content;
    justify-self: center;
    margin: 10px;
}

.content .container {
    margin-bottom: 8px;
}

/* main-content*/
.main-content {
    padding-bottom: 10px;
    margin-top: 5px;
    box-sizing: border-box; /* garante que padding/border não aumentem o tamanho total */
}

.main-content .container {
    background-color: #ffffff;
}

.main-content .boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px; /* espaço entre as caixas */
}

.main-content #itensdosite {
    font-size: 1em;
    font-weight: 410;
    color: #000000;     
    text-align: center;
    margin: 0 0 5px 0;
}

.main-content .box {
    flex: 1; /* as caixas podem crescer ou diminuir */
    min-width: 100px; /* largura mínima */
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.main-content .resumo {
    font-weight: 410;
    color: #000000;
}

.main-content .main-icones {
    width: 120px;
    height: 120px;
}

/* rodapé (footer) */
.footer {
    padding: 5px 0;
    text-align: center;
}

.footer .container {
    background-color: #4181ba;
    color: white;
    border-radius: 8px;
}

.footer h4 {
    margin: 0;
    font-size: 1em;
}

.footer .version {
    font-size: 0.8em;
    color: #ffffff;
}





