@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background: black;
    margin: 0;
}

.header {
    background: #4181ba;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100px;
    margin: auto;
}

.container .navbar {
    color: black;
    list-style-type: none; /* sem marcadores */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar .agora {
    font-weight: 900;
}

.navbar a {
    color: black;
    text-decoration: none; /* remove o sublinhado */
}

.banner {
    height: 500px;
    color: white;
}

.banner .container {
    width: 100%;
    height: 80%;
    align-items: center;
}

.footer {
    background: #4181ba;
}

.footer .container {
    background: #4181ba;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    margin-bottom: 0;
}

/***/
#logo {
    display: flex;
    height: 80%; /* ou uma altura fixa, como 40px */
    width: auto; /* mantém a proporção */
    margin: 3%; /* ajusta o espaçamento do topo */
}